.container-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}

.container-navbar .logo {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.my-navbar .my-navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  transition: 1s;
  align-items: center;
}

.navbarActive {
  position: relative;
}

.navbarActive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  animation: underlineAnimation 0.5s ease forwards;
}

.my-navbar .my-navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: text-shadow 0.3s ease-in-out;
}

.my-navbar .my-navbar-menu li a:hover {
  color: #d9d9d9;

  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Efek shadow saat hover */
}

.profile {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 0.4rem 1rem;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
  position: relative;
  cursor: pointer;
}

.profile .profile-img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.dropdown-menu {
  background-color: white;
  height: 200px;
  width: 200px;
}

.profile-dropdown ul li {
  list-style: none;
}
.profile-dropdown ul li a {
  text-decoration: none;
  color: #14274a;
  transition: 0.5s;
}

.profile-dropdown ul li a:hover {
  color: #528af2;
}
.profile-dropdown {
  position: absolute;
  top: 80px;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 0 0 20px 20px;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 1s ease;
  top: 50px;
  right: 20px;
}

.profile-dropdown-enter {
  opacity: 0;
  max-height: 0;
}

.profile-dropdown-enter-active {
  opacity: 1;
  max-height: 200px; /* Sesuaikan dengan tinggi dropdown yang diinginkan */
  transition: opacity 300ms, max-height 1000ms;
}

.profile-dropdown-exit {
  opacity: 1;
  max-height: 500px; /* Sesuaikan dengan tinggi dropdown yang diinginkan */
}

.profile-dropdown-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
}

.menu-icon {
  display: none;
}

.markdown-profile {
  margin-left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.markdown-profile.open {
  opacity: 1;
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container-navbar {
    flex-direction: row;
    padding-top: 1rem;
  }

  .my-navbar {
    display: none;
  }

  .logo {
    text-align: center;
  }

  .profile {
    display: none;
  }

  .profile .profile-img img {
    width: 30px;
    height: 30px;
  }

  .profile-dropdown {
    top: 45px;
    right: 0;
    left: 0;
    padding-top: 2rem;
    border-radius: 0 0 20px 20px;
  }

  .profile-dropdown-enter {
    max-height: 0;
    opacity: 0;
  }

  .profile-dropdown-enter-active {
    max-height: 200px;
    opacity: 1;
    transition: opacity 300ms, max-height 500ms;
  }

  .profile-dropdown-exit {
    max-height: 200px;
    opacity: 1;
  }

  .profile-dropdown-exit-active {
    max-height: 0;
    opacity: 0;
    transition: opacity 300ms, max-height 300ms;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
  }
  .profile.open {
    display: flex;
    padding: 1rem 2rem;
  }

  .my-navbar {
    width: 100%;
    overflow: hidden;
  }

  .my-navbar.open {
    animation-fill-mode: forwards;
    display: block;
    animation: slideDown 1s ease-out;
  }

  .my-navbar-menu {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .my-navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: text-shadow 0.3s ease-in-out;
  }

  .my-navbar-menu li a:hover {
    color: #d9d9d9;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  }
  .container-navbar {
    flex-direction: column;
  }
  .logo {
    display: flex;
    gap: 15rem;
  }

  .menu-icon.active {
    /* Properti transform untuk mengubah ikon menu menjadi ikon "X" */
    transform: rotate(90deg);
    /* Properti transition untuk memberikan efek animasi yang lebih halus */
    transition: transform 0.3s ease;
  }

  .menu-icon.inactive {
    transform: rotate(0deg);

    transition: transform 0.3s ease;
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  50% {
    max-height: 100px;
    opacity: 0.5;
  }
  75% {
    max-height: 200px;
    opacity: 0.7;
  }
  100% {
    max-height: 300px;
    opacity: 1;
  }
}
