.my-form-container {
  transform: translate(0, -100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 500px;
  font-size: 48px;
  background-color: #d9d9d9;
  text-align: center;
  font-weight: bold;
}
.bottom {
  background-color: #14274a;
  width: 100%;
  padding: 3rem 5rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.nama {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nama input {
  padding: 1rem 5rem;
  width: 60rem;
  text-align: center;
  border-radius: 20px;
}

.my-form-container img {
  width: 30px;
  position: absolute;
  text-align: center;
  padding: 10px 0px;
  margin-left: 10px;
}

.container-form {
  color: white;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Detail-harga {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.form-footer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.form-footer div {
  flex: 1;
  text-align: center;
}

.form-footer span {
  font-size: 16px;
  color: white;
}

.btn-kirim {
  padding: 1rem 2rem;
  background-color: white;
  color: #14274a;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 20px;
}

.btn-kirim:hover {
  background-color: #14274a;
  color: white;
  transition: 0.1s all;
}
.container-form input,
.container-form select {
  width: 230px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.butonForm {
  position: absolute;
  right: 4rem;
  bottom: -5rem;
}

@media (max-width: 768px) {
  .top {
    display: none;
  }
  .bottom {
    transform: translate(0, 15%);
    margin: 4rem 0;
  }

  .bottom::before {
    content: "Pemesanan Kamar";
    color: white;
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    font-size: 2rem;
  }
  .nama input {
    width: 100%;
    text-align: center;
  }
}
